### All imports to be managed here

In [1]:
import pandas as pd
import numpy as np

from NSEDownload import stocks

### Creating a function to streamline the process

In [6]:
def create_df(stock_code:str) -> pd.DataFrame:
    """
    This function is responsible for crrelianceeating the dataframe, based on the Symbol, it will create weekly data.
    """
    df = stocks.get_data(stock_symbol=stock_code, start_date='1-06-2023', end_date='7-06-2023')
    symbol = df['Symbol'].to_numpy()[0]
    high = np.max(df["High Price"].to_numpy())
    low = np.min(df["Low Price"].to_numpy())
    open_price = df['Open Price'].to_numpy()[0]
    close_price = df['Close Price'].to_numpy()[-1]
    total_quantity = np.sum(df["Total Traded Quantity"].to_numpy())
    total_val = np.sum(df["Total Traded Value"].to_numpy())
    average_trading_value = round((total_val / total_quantity),2)
    _52_week_low = df['52 Week Low Price'].to_numpy()[0] 
    _52_week_high = df['52 Week High Price'].to_numpy()[0] 
    data = [symbol,high,low,open_price,close_price,average_trading_value,total_quantity,_52_week_low,_52_week_high]
    cols = ["Symbol","High","Low","Open Price","Close Price","Average Trading Price","Total Traded Quantity","52 Week Low","52 Week High"]
    main_df = pd.DataFrame(columns=cols)
    main_df.loc[0] = data
    return main_df

In [7]:
def append_weekly_rows(stock_code:str,df1:pd.DataFrame,count:int,row:int,month:int,num_weeks:int,year:int) -> None:
    """normal
    Appends the weekly data to the original dataframe for upto 4 weeks,
    #########
    TODO: implement the monthly change to make it more than 4 weeks
    #########initial Commit
    """
    while num_weeks > 0:
        df2 = stocks.get_data(stock_symbol=stock_code, start_date=f'{count}-{month}-{year}', end_date=f'{count+6}-{month}-{year}')
        symbol = df2['Symbol'].to_numpy()[0]
        high = np.max(df2["High Price"].to_numpy())
        low = np.min(df2["Low Price"].to_numpy())
        open_price = df2['Open Price'].to_numpy()[0]
        close_price = df2['Close Price'].to_numpy()[-1]
        total_quantity = np.sum(df2["Total Traded Quantity"].to_numpy())
        total_val = np.sum(df2["Total Traded Value"].to_numpy())
        average_trading_value = round((total_val / total_quantity),2)
        _52_week_low = df2['52 Week Low Price'].to_numpy()[0] 
        _52_week_high = df2['52 Week High Price'].to_numpy()[0] 
        data = [symbol,high,low,open_price,close_price,average_trading_value,total_quantity,_52_week_low,_52_week_high]
        cols = ["Symbol","High","Low","Open Price","Close Price","Average Trading Price",'Total Traded Quantity',"52 Week Low","52 Week High"]
        df1.loc[row] = data
        row += 1
        count += 7
        if count >= 28:
            count = 1
            month += 1
        num_weeks -= 1

In [8]:
symbol = "TITAN"
df = create_df(symbol)
# df.set_index(inplace=True)
# df.head()
len(df)

1

In [10]:
append_weekly_rows(symbol,df,1,35,1,35,2016)
append_weekly_rows(symbol,df,1,70,1,35,2017)
append_weekly_rows(symbol,df,1,105,1,35,2018)
append_weekly_rows(symbol,df,1,140,1,35,2019)
append_weekly_rows(symbol,df,1,175,1,35,2020)
append_weekly_rows(symbol,df,1,210,1,35,2021)
append_weekly_rows(symbol,df,1,245,1,35,2022)

len(df)

### Removing all null values and duplicates as this could cause issues later on

In [17]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.describe()

,High,Low,Open Price,Close Price,Average Trading Price,Total Traded Quantity,52 Week Low,52 Week High
count,35.000000,35.000000,35.000000,35.000000,35.000000,3.500000e+01,35.000000,35.000000
mean,2842.651429,2532.525714,2657.165714,2723.644286,2686.550286,3.144739e+07,1871.918571,2865.962857
std,252.912345,238.560943,227.094703,256.186190,233.245831,7.565320e+06,126.278545,144.626835
min,2545.850000,2269.600000,2332.000000,2331.250000,2407.240000,7.807363e+06,1825.050000,2791.000000
25%,2626.250000,2321.000000,2481.600000,2503.600000,2458.760000,2.976655e+07,1825.050000,2791.000000
50%,2790.000000,2466.800000,2603.050000,2732.900000,2626.710000,3.312526e+07,1825.050000,2791.000000
75%,3044.900000,2748.350000,2802.625000,2987.775000,2940.800000,3.559070e+07,1825.050000,2822.000000
max,3210.000000,2882.450000,3155.000000,3144.000000,3027.560000,4.204069e+07,2269.600000,3210.000000

In [18]:
print(f'The total entries in the data are {len(df)}')

The total entries in the data are 35

In [19]:
df.to_csv("../data/titan_weekly_data.csv",index=False)