### All imports to be managed here

In [6]:
import pandas as pd
import numpy as np

from NSEDownload import stocks

### Creating a function to streamline the process

In [7]:
def create_df(stock_code:str) -> pd.DataFrame:
    """
    This function is responsible for creating the dataframe, based on the Symbol, it will create weekly data.
    """
    df = stocks.get_data(stock_symbol=stock_code, start_date='1-06-2023', end_date='7-06-2023')
    symbol = df['Symbol'].to_numpy()[0]
    high = np.max(df["High Price"].to_numpy())
    low = np.min(df["Low Price"].to_numpy())
    open_price = df['Open Price'].to_numpy()[0]
    close_price = df['Close Price'].to_numpy()[-1]
    total_quantity = np.sum(df["Total Traded Quantity"].to_numpy())
    total_val = np.sum(df["Total Traded Value"].to_numpy())
    average_trading_value = round((total_val / total_quantity),2)
    _52_week_low = df['52 Week Low Price'].to_numpy()[0] 
    _52_week_high = df['52 Week High Price'].to_numpy()[0] 
    data = [symbol,high,low,open_price,close_price,average_trading_value,total_quantity,_52_week_low,_52_week_high]
    cols = ["Symbol","High","Low","Open Price","Close Price","Average Trading Price","Total Traded Quantity","52 Week Low","52 Week High"]
    main_df = pd.DataFrame(columns=cols)
    main_df.loc[0] = data
    return main_df

In [8]:
def append_weekly_rows(stock_code:str,df1:pd.DataFrame,count:int,row:int,month:int,num_weeks:int) -> None:
    """normal
    Appends the weekly data to the original dataframe for upto 4 weeks,
    #########
    TODO: implement the monthly change to make it more than 4 weeks
    #########initial Commit
    """
    while num_weeks > 0:
        df2 = stocks.get_data(stock_symbol=stock_code, start_date=f'{count}-{month}-2023', end_date=f'{count+6}-{month}-2023')
        symbol = df2['Symbol'].to_numpy()[0]
        high = np.max(df2["High Price"].to_numpy())
        low = np.min(df2["Low Price"].to_numpy())
        open_price = df2['Open Price'].to_numpy()[0]
        close_price = df2['Close Price'].to_numpy()[-1]
        total_quantity = np.sum(df2["Total Traded Quantity"].to_numpy())
        total_val = np.sum(df2["Total Traded Value"].to_numpy())
        average_trading_value = round((total_val / total_quantity),2)
        _52_week_low = df2['52 Week Low Price'].to_numpy()[0] 
        _52_week_high = df2['52 Week High Price'].to_numpy()[0] 
        data = [symbol,high,low,open_price,close_price,average_trading_value,total_quantity,_52_week_low,_52_week_high]
        cols = ["Symbol","High","Low","Open Price","Close Price","Average Trading Price",'Total Traded Quantity',"52 Week Low","52 Week High"]
        df1.loc[row] = data
        row += 1
        count += 7
        if count >= 28:
            count = 1
            month += 1
        num_weeks -= 1

In [9]:
symbol = "RELIANCE"
df = create_df(symbol)
append_weekly_rows(symbol,df,1,1,1,35)
# df.set_index(inplace=True)
df.head()

NameError: name 'total_quatity' is not defined

### Removing all null values and duplicates as this could cause issues later on

In [ ]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.describe()

,High,Low,Open Price,Close Price,Average Trading Price,52 Week Low,52 Week High
count,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000,35.000000
mean,2623.162857,2341.425714,2477.860000,2459.878571,2467.744286,2196.368571,2824.998571
std,152.585981,109.150898,134.242558,110.579504,114.346879,67.463693,58.785130
min,2424.600000,2180.000000,2215.000000,2248.000000,2300.770000,2180.000000,2630.950000
25%,2500.300000,2281.025000,2377.500000,2366.800000,2370.945000,2180.000000,2817.350000
50%,2584.000000,2326.000000,2475.000000,2484.350000,2464.220000,2180.000000,2856.150000
75%,2755.000000,2454.525000,2554.025000,2536.450000,2570.550000,2180.000000,2856.150000
max,2856.000000,2492.250000,2830.000000,2740.700000,2628.490000,2469.300000,2856.150000

In [ ]:
print(f'The total entries in the data are {len(df)}')

The total entries in the data are 35

In [ ]:
# df.to_csv("../data/reliance_weekly_data.csv",index=False)