### All imports to be managed here

In [1]:
import pandas as pd
import numpy as np

from NSEDownload import stocks

### Creating a function to streamline the process

In [15]:
def create_df(stock_code:str) -> pd.DataFrame:
    """
    This function is responsible for crrelianceeating the dataframe, based on the Symbol, it will create weekly data.
    """
    df = stocks.get_data(stock_symbol=stock_code, start_date='1-01-2021', end_date='1-08-2021')
    symbol = df['Symbol'].to_numpy()[0]
    high = np.max(df["High Price"].to_numpy())
    low = np.min(df["Low Price"].to_numpy())
    open_price = df['Open Price'].to_numpy()[0]
    close_price = df['Close Price'].to_numpy()[-1]
    total_quantity = np.sum(df["Total Traded Quantity"].to_numpy())
    total_val = np.sum(df["Total Traded Value"].to_numpy())
    average_trading_value = round((total_val / total_quantity),2)
    _52_week_low = df['52 Week Low Price'].to_numpy()[0] 
    _52_week_high = df['52 Week High Price'].to_numpy()[0] 
    data = [symbol,high,low,open_price,close_price,average_trading_value,total_quantity,_52_week_low,_52_week_high]
    cols = ["Symbol","High","Low","Open Price","Close Price","Average Trading Price","Total Traded Quantity","52 Week Low","52 Week High"]
    main_df = pd.DataFrame(df) 
    # columns = ["Adj Close"]
    # df.drop(columns=columns,inplace=True)
    # main_df.loc[0] = data
    return main_df

In [23]:
def append_weekly_rows(stock_code:str,df1:pd.DataFrame,count:int,row:int,month:int,num_weeks:int,year:int) -> None:
    """normal
    Appends the weekly data to the original dataframe for upto 4 weeks,
    #########
    TODO: implement the monthly change to make it more than 4 weeks
    #########
    """
    while num_weeks > 0:
        df2 = stocks.get_data(stock_symbol=stock_code, start_date=f'{count}-{month}-{year}', end_date=f'{count+6}-{month}-{year}')
        symbol = df2['Symbol'].to_numpy()[0]
        high = np.max(df2["High Price"].to_numpy())
        low = np.min(df2["Low Price"].to_numpy())
        open_price = df2['Open Price'].to_numpy()[0]
        close_price = df2['Close Price'].to_numpy()[-1]
        total_quantity = np.sum(df2["Total Traded Quantity"].to_numpy())
        total_val = np.sum(df2["Total Traded Value"].to_numpy())
        average_trading_value = round((total_val / total_quantity),2)
        _52_week_low = df2['52 Week Low Price'].to_numpy()[0] 
        _52_week_high = df2['52 Week High Price'].to_numpy()[0] 
        data = [symbol,high,low,open_price,close_price,average_trading_value,total_quantity,_52_week_low,_52_week_high]
        cols = ["Symbol","High","Low","Open Price","Close Price","Average Trading Price",'Total Traded Quantity',"52 Week Low","52 Week High"]
        df1.loc[row] = data
        row += 1
        count += 7
        if count >= 28:
            count = 1
            month += 1
        num_weeks -= 1

In [24]:
symbol = "MGL"
df = create_df(symbol)
# df.set_index(inplace=True)
df.head()
len(df)

172

In [25]:
df.head()

,Symbol,Series,High Price,Low Price,Open Price,Close Price,Last Price,Prev Close Price,Total Traded Quantity,Total Traded Value,52 Week High Price,52 Week Low Price
Date,,,,,,,,,,,,
2020-11-23T18:30:00.000Z,MGL,EQ,949.5,932.35,946.95,940.50,941.0,942.75,751088,7.060654e+08,1246.2,663.9
2020-11-24T18:30:00.000Z,MGL,EQ,950.0,927.70,945.00,930.50,930.0,940.50,568120,5.335314e+08,1246.2,663.9
2020-11-25T18:30:00.000Z,MGL,EQ,937.9,921.15,927.10,929.05,931.3,930.50,488047,4.525934e+08,1246.2,663.9
2020-11-26T18:30:00.000Z,MGL,EQ,1068.4,972.00,972.00,1063.90,1056.5,929.05,9103753,9.463994e+09,1246.2,663.9
2020-11-30T18:30:00.000Z,MGL,EQ,1084.5,1047.60,1063.90,1059.35,1058.7,1063.90,2269915,2.417444e+09,1246.2,663.9

In [26]:
append_weekly_rows(symbol,df,1,35,1,35,2020)
append_weekly_rows(symbol,df,1,175,1,35,2020)
append_weekly_rows(symbol,df,1,210,1,35,2020)
append_weekly_rows(symbol,df,1,35,1,35,2021)
append_weekly_rows(symbol,df,1,175,1,35,2021)
append_weekly_rows(symbol,df,1,210,1,35,2021)
append_weekly_rows(symbol,df,1,35,1,35,2022)
append_weekly_rows(symbol,df,1,175,1,35,2022)
append_weekly_rows(symbol,df,1,210,1,35,2022)
append_weekly_rows(symbol,df,1,35,1,35,2023)

# append_weekly_rows(sycolumns = ["Adj Close"]
# df.drop(columns=columns,inplace=True)mbol,df,1,245,1,35,2022)

len(df)

ValueError: cannot set a row with mismatched columns

### Removing all null values and duplicates as this could cause issues later on

In [23]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.describe()

,High,Low,Open Price,Close Price,Average Trading Price,Total Traded Quantity,52 Week Low,52 Week High
count,36.000000,36.000000,36.000000,36.000000,36.000000,3.600000e+01,36.000000,36.000000
mean,467.263889,402.055556,426.438889,442.254167,432.784444,4.615837e+07,344.423611,491.118056
std,419.582209,370.953620,373.903268,423.602660,394.214263,1.365269e+07,253.822188,394.870858
min,361.000000,301.700000,331.000000,327.400000,336.570000,3.152370e+07,301.700000,392.400000
25%,376.000000,320.300000,349.075000,343.075000,348.497500,3.648760e+07,301.700000,404.250000
50%,384.850000,335.175000,359.975000,366.550000,361.380000,4.293856e+07,301.700000,429.850000
75%,435.000000,353.150000,375.275000,403.575000,390.255000,4.696189e+07,302.750000,448.400000
max,2910.000000,2559.250000,2603.050000,2906.950000,2727.800000,8.133440e+07,1825.050000,2791.000000

In [24]:
print(f'The total entries in the data are {len(df)}')

The total entries in the data are 36

In [25]:
# df.to_csv("../data/titan_weekly_data.csv",index=False)